/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Quicksand', sans-serif; }

.input-filtro {
  display: none; }

header {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%; }
  header img {
    height: 30px; }
  header .bt-login {
    text-decoration: none;
    color: #000;
    padding: 12px 12px;
    background: #4d007f;
    color: #fff;
    border-radius: 5px;
    font-weight: 700; }

.filtros-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  width: auto;
  height: auto;
  top: 12%;
  left: 0px;
  z-index: 999;
  padding-left: 10px; }
  .filtros-container .filtroIcone {
    position: relative;
    z-index: 200;
    background: #4d007f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px; }
    .filtros-container .filtroIcone img {
      height: 20px;
      width: 20px; }

.filter {
  position: relative;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  background: #4d007f;
  display: none;
  margin-left: 10px; }
  .filter p {
    width: 100%;
    margin-bottom: 10px;
    color: #fff; }
  .filter .input-filtro:checked + label {
    background: #fff;
    color: #4d007f; }
  .filter span {
    color: #fff;
    margin: 10px 0px;
    display: block;
    text-align: center;
    width: 100%; }
  .filter label {
    width: 50%;
    text-align: center;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    color: #fff; }
  .filter .categorias, .filter .input-area, .filter span {
    display: none;
    border: none; }
  .filter .input-area {
    position: relative;
    height: auto; }
  .filter .input-area input {
    border: none;
    width: 100%;
    margin: 0px;
    padding: 10px; }
  .filter .input-area button {
    position: absolute;
    right: 0px;
    top: 50%;
    padding: 14px;
    border: none;
    background: #4d007f;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #fff;
    transform: translateY(-50%); }
  .filter #livros + label {
    float: right; }
  .filter select, .filter input[type="text"] {
    border-radius: 5px;
    font-size: 100%; }
  .filter #livros:checked ~ select, .filter #livros:checked ~ .input-area, .filter #livros:checked ~ span {
    display: block; }
  .filter .categorias {
    width: 100%;
    margin-top: 10px;
    padding: 10px; }

.container-filtro-map {
  position: relative;
  width: 100%;
  height: 100%; }
  .container-filtro-map .map {
    position: relative;
    height: 100%;
    width: 100%; }
  .container-filtro-map .notification {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: auto;
    background: #4d007f;
    padding: 10px;
    color: #fff; }
  .container-filtro-map nav {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: auto;
    background: #4d007f;
    padding: 15px;
    border-radius: 50%; }
    .container-filtro-map nav img {
      height: 25px; }
    .container-filtro-map nav a {
      color: #fff; }
    .container-filtro-map nav .flex-area {
      position: absolute;
      width: 200px;
      bottom: 60px;
      right: 0px;
      display: none; }
      .container-filtro-map nav .flex-area a {
        width: 100%;
        display: block;
        text-decoration: none;
        background: #4d007f;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 5px; }

.notification {
  border-radius: 50%; }
  .notification img {
    height: 30px; }

nav img {
  height: 30px; }

.bt {
  border: none;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  font-size: 130%; }

.input-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto; }
  .input-area label {
    display: block;
    width: 100%;
    color: #fff;
    margin-bottom: 7px; }
  .input-area input {
    border-radius: 5px;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 110%;
    color: #4d007f; }
  .input-area > img {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); }

.bt-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bt-close p {
    color: #fff;
    font-size: 150%; }

.area-login-cadastro {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #4d007f;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1000;
  padding: 20px 40px; }
  .area-login-cadastro h2 {
    color: #fff;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px; }
  .area-login-cadastro .input-area {
    margin-bottom: 10px; }
    .area-login-cadastro .input-area a {
      color: #fff;
      margin: 5px 0px; }
  .area-login-cadastro .facebook-area span {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px auto; }
  .area-login-cadastro .facebook-area .bt-face {
    border: none;
    padding: 10px 0px;
    width: 100%;
    font-size: 130%;
    background: #3b5998;
    color: #fff;
    border-radius: 5px;
    margin: 0px auto;
    display: block; }
    .area-login-cadastro .facebook-area .bt-face img {
      height: 20px;
      margin-right: 10px; }

.se-login, .se-cadastrar, .se-esqueci, .se-cadastrar-livro {
  display: none; }

.input-area textarea {
  display: block;
  width: 100%;
  border: none;
  color: #000;
  height: 100px;
  font-size: 120%;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  padding: 15px; }

.input-area input[type="file"] {
  display: none; }

.input-area input[type="file"] + label {
  width: 100%;
  border: 2px dashed #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .input-area input[type="file"] + label img {
    height: 30px;
    margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
